/* Pixelate images */
#project:not(.editable) .remote-img-inner {
    image-rendering: pixelated;
}

/* Hide lefthand sidebar */
#project:not(.editable) > .reflex-layout.reflex-container.vertical > .reflex-element:nth-child(1) {
    display: none;
}
#project:not(.editable) > .reflex-layout.reflex-container.vertical > .reflex-element:nth-child(3) {
    -webkit-box-flex: 1 !important;
    flex: 1 1 0% !important;
}

/* Hide icons */
# project:not(.editable) .pane-bottom-nav {
    display: none;
}
#project:not(.editable) .code-space .codemirror-ide-editor {
    max-height: 100%;
}
